<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>chatbot</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">chatbot</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>


<!-- Bottom Navigation -->
<ion-footer class="nav-footer">
  <div class="nav-container">
    <div class="nav-button active">
      <ion-icon name="home"></ion-icon>
      <span class="nav-label">Inicio</span>
    </div>
    <div class="nav-button">
      <ion-icon name="bar-chart"></ion-icon>
      <span class="nav-label">Gráficos</span>
    </div>
    <div class="nav-button">
      <ion-icon name="chatbubble-ellipses"></ion-icon>
      <span class="nav-label">ChatBot</span>
    </div>
    <div class="nav-button">
      <ion-icon name="document-text"></ion-icon>
      <span class="nav-label">Documentos</span>
    </div>
  </div>
</ion-footer>
