<ion-content class="chat-content">
  <div class="chat-card">

    <!-- 1) Header interno -->
    <div class="chat-card-header">Chat</div>

    <!-- 2) Mensajes -->
    <div class="messages">
      <div *ngFor="let msg of messages" [ngClass]="msg.from">
        {{ msg.text }}
      </div>
    </div>

    <!-- 3) Sugerencias (debajo de mensajes, encima del form) -->
    <div class="suggestions-container" *ngIf="suggestions.length">
      <ion-chip
        *ngFor="let s of suggestions"
        (click)="onSuggestion(s)"
      >
        {{ s }}
      </ion-chip>
    </div>
    <!-- 4) Formulario de entrada -->
    <form class="chat-form" [formGroup]="chatForm" (ngSubmit)="send()">
      <ion-input
        formControlName="message"
        placeholder="Escribe un mensaje…"
      ></ion-input>
      <ion-button
        type="submit"
        [disabled]="chatForm.invalid"
        shape="round"
      >
        Enviar
      </ion-button>
    </form>

  </div>
</ion-content>
